
/trunk/DMP/DMP/bin
/trunk/DMP/DMP/obj
/trunk/DMP/DMP.IOC/bin
/trunk/DMP/DMP.IOC/obj
/trunk/DMP/DMP.Repository/obj
/trunk/DMP/DMP.Repository/bin
/trunk/DMP/DMP.Services/obj
/trunk/DMP/DMP.Services/bin
/trunk/DMP/TestResults